extends layout
block content
		main.main
			.modal.about
				.about__header
					.about__title О проекте
				.about__body
					p СЕВЕРКАРГО - это сервис для размещения и поиска информации по
						| отправлениям между двумя основными регионами. С помощью
						| этого сайта вы сможете отправлять и получать посылки от 
						| ваших родных и близких с Дагестана, Качараево-Черкессии, Ингушетии,
						| Чеченской республики в города севера - Тюмень, Сургут, Ноябрьск,
						| Новый Уренгой и др.

					p Проект СЕВЕРКАРО направлен на решение ряда проблем, связанных 
						| с логистикой и постоянным ростом оборота. Мы используем самые
						| последние технологии в построении сервисов и сайтов, чтобы вы
						| могли без труда находить нужную информацию.

					p Огромную пользу для себя найдут водители. От вас больше не 
						| требуется расклейка столбов по населенным пунктам и затратная
						| смс-рассылка. Теперь о ваших рейсах будут знать все пользователи
						| сайта СЕВЕРКАРГО.