extends layout
include mixins/socials
block content
  main.main
    .modal
      .contacts
        .contacts__header
          .contacts__title Контакты
          .contacts__subtitle
            p Мы всегда готовы помочь.
            p Спасибо за ваши отзывы — они помогут улучшить СЕВЕРКАРГО!
        .contacts__body
          p Разработчик Замир Байтищев
          ul.contacts__list
            li: a(href="mailto:baytzam@gmail.com") baytzam@gmail.com
            li: a(href="http://telegram.com") Telegram
            li: a(href="http://vk.com/baytzam") Вконтакте
          p Основатель Анвар Баймурзаев
          ul.contacts__list
            li: a(href="mailto:anvarbaimurzaev@gmail.com") anvarbaimurzaev@gmail.com
            li: a(href="http://telegram.com") Telegram
          .contacts__social
            +social()


          