extends layout
block content
  main.main.issues
    .modal.issues
      .issues__header
        .issues__title Частые вопросы
      .issues__body
        p СЕВЕРКАРГО совсем новый проект. Тут могут быть ошибки, над которым
          | мы работаем и те, которые предстоит исправить. Пишите обо всем, 
          | что найдете по нашим 
          a(href="/contacts") контактам. 

        p Как только будет сформирован список частых вопросов, ответы на них
          | мы опубликуем на этой странице.