:root {
    --main-color  : #fdd835;
    --header-color: #333;
    --light-color : #939393;
    --main-fonts  : 'Lato';
    --font-italic : 'Lato-Italic';
    --font-light  : 'Lato-light';
    --font-logo   : 'GEO';    
    --font-color  : #333;
    --text-color  : #ffffff;
    --header-height: 85px;
}

@font-face {
	font-family: 'Lato';
	src: url('/fonts/Lato-Regular.ttf');
}

@font-face {
	font-family: 'Lato-Light';
	src: url('/fonts/Lato-Light.ttf');
}

@font-face {
	font-family: 'Lato-Italic';
	src: url('/fonts/Lato-Italic.ttf');
}

@font-face {
	font-family: 'GEO';
	src: url('/fonts/Geometria-Light.otf');
}

html{
    font-size: 16px;

    @include laptop {
        font-size: 15px;
    }

    @include tablets {
        font-size: 14px;
    }

    @include tablets {
        font-size: 13px;
    }
}

.bg {
    background: url('/images/bg.jpg') top left no-repeat;
    background-size: cover;
}

.header {
    position: relative;
    height: var(--header-height);
    background-color: var(--header-color);

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.user {
    margin-left: auto;
    margin-right: 4.8%;
    flex-basis:  30%;  
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include desktop {
        margin-right: 2%;
        flex-basis:  40%;      
    }    

    @include laptop {
        flex-direction: row-reverse;
        flex-basis:  26%;      
    }

    @include tablets {
        flex-basis:  auto;     
    }

    @include phones {
        margin-right: 3.3%;   
    }

    &__login, 
    &__register,
    &__add, 
    &__search,
    &__name {
        font-size: 1.125em;
        font-family: var(--font-light ), sans-serif;
        color: var(--text-color);
        font-weight: 400;
        text-decoration: none;
    }

    &__name,
    &__ava {
        display: inline-block;
    }

    &__name {
        vertical-align: top;
        line-height: 42px;
        margin-right: 20px;
    }

    &__register {
        margin-right: 15px;
    }

    &__add  {
        display: inline-block;
        color: #000;
        box-shadow: 0 2px 7px rgba(0, 7, 3, 0.24);
        border-radius: 5px;
        padding: 10px;

        @include tablets { margin-left: 30px; }
        @include tablets { margin-left: 10px; }
    }

    &__search {
        margin-left: 5px;
        vertical-align: super;
    }

    &__ava {
        position: relative;
        width: 39px;
        height: 39px;
        border-radius: 50%;
        overflow: hidden;
        background-color: #f2f2f2;
    
        a {
            display: inline-block;
        }

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}

.user__info {
    display: flex;
}

.user__ava-wrapper {
    width: 59px;
    cursor: pointer;    
}

.user__name, 
.header__search {
    @include laptop {
        display: none;
    }
}

.user-wrapper {
    margin-left: auto;
}

.user__ava-wrapper::after{
    content: "";
    cursor: pointer;
    display: inline-block;
    width: 7px;
    height: 7px;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    transform: rotate(135deg);
    margin-left: 11px;
    margin-bottom: 15px;
}

.user__profile-menu {
    position: absolute;
    display: none;
    opacity: 0;
    visibility: hidden;
    top: 80px;
    right: calc(5% - 45px);
    background-color: #fff;
    border-radius: 5px;
}

.user__profile-menu.open {
    display: block;
    opacity: 1;
    visibility: visible;
}

.profile-menu__list {
    position: relative;
    margin: 0;
    padding: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    
    li {

        a {
            display: inline-block;
            width: 100%;
            padding: 10px 15px;
            font-family: var( --main-fonts );
            color: var(--font-color);
            text-decoration: none;
            
            &:first-child {
                border-radius: 5px 5px 0 0;
            }

            &:last-child {
                border-radius:  5px 0 0 5px;
            }

            &:hover {
                background: #fafafa;
            }
        }
    }
}
 
.profile-menu__list:before {
    content: '';
    position: absolute; 
    top: -7px;
    left: 66%;
    pointer-events: none;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-right-width: 7px;
    border-left-width: 7px;
    border-bottom: 7px solid #fff;
}

.user__logout {
    color: var(--font-color);
}

.burger {
    position: absolute;
    left: 0;
}

.header__logo {
    flex-basis: 61%;

    @include desktop {
        flex-basis: 50%;
    }

    @include laptop {
        flex-basis:  60%;      
    }

    @include tablets {
        flex-basis:  auto;
        margin-left: 21.2%;      
    }

    @include phones {
        flex-basis:  auto;
        margin-left: 15%;      
    }

    h1 {
        margin: 0;  
        color: var( --main-color);
        font-family: var(--font-logo ), sans-serif;
        font-size: 35px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
    }

    img {
        height: 36px;
        margin-right: 20px;
    }

    a {
        display: flex;
        justify-content: flex-end;
        text-decoration: none;
        color: #ffffff;
    }

    span {
        letter-spacing: 8px;

        @include tablets { display: none; }
    }
} 

body {
    background: #ececec;
}

.main {
    height: 100%;
    min-height: 110vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.modal {
    min-width: 960px;
    height: 100%;
    padding: rem(55px) rem(45px);
    box-shadow: 0 0 28px 2px rgba(0, 7, 3, 0.18);
    border-radius: 5px;
    background-color: #ffffff;

    @include laptop {
        width: 90%;
        padding-left: rem(15px);  
        padding-right: rem(15px);    
    }

    @include laptop {
        min-width: inherit;
    }

    @include tablets {
        min-width: 90%;
    }
}

.button {
    background: var(--main-color);
    border: 0;
}

.else-text {
    width: 100%;
    font-family: var(--main-fonts);
}

.add-link {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    color: var(--font-color);
    text-decoration: none;
    font-family: var(--main-fonts);    
}

.flatpickr-calendar, h1 {
    color: var(--font-color);
    font-family: var(--main-fonts), sans-serif;
}
