:root {
    --main-color  : #fdd835;
    --header-color: #333;
    --light-color : #939393;
    --main-fonts  : 'Lato';
    --font-italic : 'Lato-Italic';
    --font-light  : 'Lato-light';
    --font-logo   : 'GEO';    
    --font-color  : #333;
    --text-color  : #ffffff;
    --header-height: 85px;
}

@font-face {
	font-family: 'Lato';
	src: url('/fonts/Lato-Regular.ttf');
}

@font-face {
	font-family: 'Lato-Light';
	src: url('/fonts/Lato-Light.ttf');
}

@font-face {
	font-family: 'Lato-Italic';
	src: url('/fonts/Lato-Italic.ttf');
}

@font-face {
	font-family: 'GEO';
	src: url('/fonts/Geometria-Light.otf');
}

html{
    font-size: 16px;

    @include laptop {
        font-size: 15px;
    }

    @include tablets {
        font-size: 14px;
    }

    @include tablets {
        font-size: 13px;
    }
}

.bg {
    background: url('/images/bg.jpg') top left no-repeat;
    background-size: cover;
}

.header {
    position: relative;
    height: var(--header-height);
    background-color: var(--header-color);

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.burger {
    position: absolute;
    left: 0;
}

.header__logo {
    flex-basis: 61%;

    @include desktop {
        flex-basis: 50%;
    }

    @include laptop {
        flex-basis:  60%;      
    }

    @include tablets {
        flex-basis:  auto;
        margin-left: 21.2%;      
    }

    @include phones {
        flex-basis:  auto;
        margin-left: 15%;      
    }

    h1 {
        margin: 0;  
        color: var( --main-color);
        font-family: var(--font-logo ), sans-serif;
        font-size: 35px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
    }

    img {
        height: 36px;
        margin-right: 20px;
    }

    a {
        display: flex;
        justify-content: flex-end;
        text-decoration: none;
        color: #ffffff;
    }

    span {
        letter-spacing: 8px;

        @include tablets { display: none; }
    }
} 

body {
    background: #ececec;
}

.main {
    height: 100%;
    min-height: 110vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.modal {
    min-width: 960px;
    height: 100%;
    padding: rem(55px) rem(45px);
    box-shadow: 0 0 28px 2px rgba(0, 7, 3, 0.18);
    border-radius: 5px;
    background-color: #ffffff;

    @include laptop {
        width: 90%;
        padding-left: rem(15px);  
        padding-right: rem(15px);    
    }

    @include laptop {
        min-width: inherit;
    }

    @include tablets {
        min-width: 90%;
    }
}

.button {
    background: var(--main-color);
    border: 0;
}

.else-text {
    width: 100%;
    font-family: var(--main-fonts);
}

.add-link {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    color: var(--font-color);
    text-decoration: none;
    font-family: var(--main-fonts);    
}

.flatpickr-calendar, h1 {
    color: var(--font-color);
    font-family: var(--main-fonts), sans-serif;
}
